.info-card{
  background-color: #000000a6;
  position: absolute;
  padding: 16px;
  bottom: 6px;
  right: 6px;
  height: 50vh;
  width: 50vw;
  color: white;
  border-radius: 6px;
  font-size: 0.9em;
  a{
    font-size: 1em;
   }
  }

.back{
position: absolute;
top: 6px;
left: 6px;
color: white;
font-size: 36px;

}
