<div id="map"
     class = "home-map"
     style="width: 100vw; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="content">
  <div class="home-info">
    <h2 class="title text-center">Welcome to the Evacuation Arakawa App</h2>
    <p class="text-cener">This is a personal project, for the official Arakawa cityhall application click <a
      targer="_blank" href="https://www.city.arakawa.tokyo.jp/documents/16958/app.pdf">here</a>.</p>
      <p>If you are not currently in the Arakawa ward but would like to try this app click here to generate a random Arakawa address.</p>
    <a href="#" id="nearest-btn" class="btn btn-primary text-center">Nearest location</a>
    <p></p>
  </div>
</div>
<span hidden class="userlon"></span>
<span hidden class="userlat"></span>
